ServiceTest/Service References/InnaService/BookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://inna.ru/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://inna.ru/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://inna.ru/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dogovorCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="reportGuid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="extraParams" type="tns:ArrayOfPairOfStringString" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:FileType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPairOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PairOfStringString" type="tns:PairOfStringString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PairOfStringString">
        <s:attribute name="Key" type="s:string" />
        <s:attribute name="Value" type="s:string" />
      </s:complexType>
      <s:simpleType name="FileType">
        <s:restriction base="s:string">
          <s:enumeration value="html" />
          <s:enumeration value="pdf" />
          <s:enumeration value="xls" />
          <s:enumeration value="rtf" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="1" maxOccurs="1" name="dogovorInfo" type="tns:DogovorInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="report" type="tns:ReportResponse" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="new_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Deposits" type="tns:ArrayOfDepositInfo" />
          </s:choice>
          <s:element minOccurs="1" maxOccurs="1" name="hasErrors" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DogovorInfo">
        <s:attribute name="TourDate" type="s:string" />
        <s:attribute name="DogovorKey" type="s:int" use="required" />
        <s:attribute name="DogovorCode" type="s:string" />
        <s:attribute name="StatusKey" type="s:int" use="required" />
        <s:attribute name="StatusName" type="s:string" />
        <s:attribute name="AgentKey" type="s:int" use="required" />
        <s:attribute name="AgentLogin" type="s:string" />
        <s:attribute name="Price" type="s:decimal" use="required" />
        <s:attribute name="Paid" type="s:decimal" use="required" />
        <s:attribute name="RateIsoCode" type="s:string" />
      </s:complexType>
      <s:complexType name="ReportResponse">
        <s:attribute name="Content" type="s:base64Binary" />
        <s:attribute name="FileType" type="tns:FileType" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfDepositInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DepositInfo" nillable="true" type="tns:DepositInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DepositInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Deposit" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="RateIsoCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Limit" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDogovorInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dogovorCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDogovorInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDogovorInfoResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDogovor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="turists" type="tns:ArrayOfInTourist" />
            <s:element minOccurs="1" maxOccurs="1" name="UserInfo" nillable="true" type="tns:UserInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="services" type="tns:ArrayOfInService" />
            <s:element minOccurs="0" maxOccurs="1" name="dogovorCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInTourist">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InTourist" nillable="true" type="tns:InTourist" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InTourist">
        <s:attribute name="FirstName" type="s:string" />
        <s:attribute name="Sex" type="tns:Sex" use="required" />
        <s:attribute name="LastName" type="s:string" />
        <s:attribute name="BirthDate" type="s:string" />
        <s:attribute name="PassrortType" type="tns:PasportType" use="required" />
        <s:attribute name="PasspordNumber" type="s:string" />
        <s:attribute name="PasspordCode" type="s:string" />
        <s:attribute name="PassportValidDate" type="s:string" />
        <s:attribute name="Citizenship" type="s:string" />
      </s:complexType>
      <s:simpleType name="Sex">
        <s:restriction base="s:string">
          <s:enumeration value="M" />
          <s:enumeration value="F" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PasportType">
        <s:restriction base="s:string">
          <s:enumeration value="INTERNAL" />
          <s:enumeration value="FOREIGN" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="UserInfo">
        <s:attribute name="AgentKey" type="s:int" use="required" />
        <s:attribute name="Name" type="s:string" />
        <s:attribute name="Email" type="s:string" />
        <s:attribute name="Phone" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfInService">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InService" nillable="true" type="tns:InService" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InService">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TuristIndexes" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="NumDocs" type="tns:ArrayOfString" />
        </s:sequence>
        <s:attribute name="ServiceType" type="tns:ServiceType" use="required" />
        <s:attribute name="ServiceKey" type="s:int" use="required" />
        <s:attribute name="Date" type="s:string" />
        <s:attribute name="NDays" type="s:int" use="required" />
        <s:attribute name="Title" type="s:string" />
        <s:attribute name="PartnerID" type="s:int" use="required" />
        <s:attribute name="PartnerBookID" type="s:string" />
        <s:attribute name="Price" type="s:int" use="required" />
        <s:attribute name="NettoPrice" type="s:int" use="required" />
        <s:attribute name="Comission" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ServiceType">
        <s:restriction base="s:string">
          <s:enumeration value="AVIA" />
          <s:enumeration value="HOTEL" />
          <s:enumeration value="CUSTOM" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateDogovorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDogovorResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDogovorDepositPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dogovorCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDogovorDepositPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDogovorDepositPaymentResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDogovorPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dogovorCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentSys" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paidSum" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDogovorPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDogovorPaymentResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepositAndReceivable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="partnerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepositAndReceivableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepositAndReceivableResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnnulateDogovor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dogovorCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="reason" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="penalty" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnnulateDogovorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnnulateDogovorResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePartner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PartnerInfo" nillable="true" type="tns:PartnerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PartnerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Properties" type="tns:ArrayOfInt" />
        </s:sequence>
        <s:attribute name="Name" type="s:string" />
        <s:attribute name="Status" type="s:string" />
        <s:attribute name="RegisterSeries" type="s:string" />
        <s:attribute name="RegisterNumber" type="s:string" />
        <s:attribute name="RegistredAddress" type="s:string" />
        <s:attribute name="RegistredAddressIndex" type="s:string" />
        <s:attribute name="Address" type="s:string" />
        <s:attribute name="PostIndex" type="s:string" />
        <s:attribute name="Boss" type="s:string" />
        <s:attribute name="BossName" type="s:string" />
        <s:attribute name="INN" type="s:string" />
        <s:attribute name="KPP" type="s:string" />
        <s:attribute name="Email" type="s:string" />
        <s:attribute name="Site" type="s:string" />
        <s:attribute name="Phones" type="s:string" />
        <s:attribute name="Fax" type="s:string" />
      </s:complexType>
      <s:element name="CreatePartnerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreatePartnerResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="GetReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetDogovorInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDogovorInfo" />
  </wsdl:message>
  <wsdl:message name="GetDogovorInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDogovorInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDogovorSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDogovor" />
  </wsdl:message>
  <wsdl:message name="CreateDogovorSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDogovorResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDogovorDepositPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDogovorDepositPayment" />
  </wsdl:message>
  <wsdl:message name="CreateDogovorDepositPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDogovorDepositPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDogovorPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDogovorPayment" />
  </wsdl:message>
  <wsdl:message name="CreateDogovorPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDogovorPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepositAndReceivableSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepositAndReceivable" />
  </wsdl:message>
  <wsdl:message name="GetDepositAndReceivableSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepositAndReceivableResponse" />
  </wsdl:message>
  <wsdl:message name="AnnulateDogovorSoapIn">
    <wsdl:part name="parameters" element="tns:AnnulateDogovor" />
  </wsdl:message>
  <wsdl:message name="AnnulateDogovorSoapOut">
    <wsdl:part name="parameters" element="tns:AnnulateDogovorResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePartnerSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePartner" />
  </wsdl:message>
  <wsdl:message name="CreatePartnerSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePartnerResponse" />
  </wsdl:message>
  <wsdl:portType name="BookServiceSoap">
    <wsdl:operation name="GetReport">
      <wsdl:input message="tns:GetReportSoapIn" />
      <wsdl:output message="tns:GetReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDogovorInfo">
      <wsdl:input message="tns:GetDogovorInfoSoapIn" />
      <wsdl:output message="tns:GetDogovorInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDogovor">
      <wsdl:input message="tns:CreateDogovorSoapIn" />
      <wsdl:output message="tns:CreateDogovorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDogovorDepositPayment">
      <wsdl:input message="tns:CreateDogovorDepositPaymentSoapIn" />
      <wsdl:output message="tns:CreateDogovorDepositPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDogovorPayment">
      <wsdl:input message="tns:CreateDogovorPaymentSoapIn" />
      <wsdl:output message="tns:CreateDogovorPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepositAndReceivable">
      <wsdl:input message="tns:GetDepositAndReceivableSoapIn" />
      <wsdl:output message="tns:GetDepositAndReceivableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnnulateDogovor">
      <wsdl:input message="tns:AnnulateDogovorSoapIn" />
      <wsdl:output message="tns:AnnulateDogovorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePartner">
      <wsdl:input message="tns:CreatePartnerSoapIn" />
      <wsdl:output message="tns:CreatePartnerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookServiceSoap" type="tns:BookServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReport">
      <soap:operation soapAction="http://inna.ru/GetReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDogovorInfo">
      <soap:operation soapAction="http://inna.ru/GetDogovorInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDogovor">
      <soap:operation soapAction="http://inna.ru/CreateDogovor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDogovorDepositPayment">
      <soap:operation soapAction="http://inna.ru/CreateDogovorDepositPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDogovorPayment">
      <soap:operation soapAction="http://inna.ru/CreateDogovorPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepositAndReceivable">
      <soap:operation soapAction="http://inna.ru/GetDepositAndReceivable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnnulateDogovor">
      <soap:operation soapAction="http://inna.ru/AnnulateDogovor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePartner">
      <soap:operation soapAction="http://inna.ru/CreatePartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookServiceSoap12" type="tns:BookServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReport">
      <soap12:operation soapAction="http://inna.ru/GetReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDogovorInfo">
      <soap12:operation soapAction="http://inna.ru/GetDogovorInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDogovor">
      <soap12:operation soapAction="http://inna.ru/CreateDogovor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDogovorDepositPayment">
      <soap12:operation soapAction="http://inna.ru/CreateDogovorDepositPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDogovorPayment">
      <soap12:operation soapAction="http://inna.ru/CreateDogovorPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepositAndReceivable">
      <soap12:operation soapAction="http://inna.ru/GetDepositAndReceivable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnnulateDogovor">
      <soap12:operation soapAction="http://inna.ru/AnnulateDogovor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePartner">
      <soap12:operation soapAction="http://inna.ru/CreatePartner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port name="BookServiceSoap" binding="tns:BookServiceSoap">
      <soap:address location="http://localhost:6512/BookService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookServiceSoap12" binding="tns:BookServiceSoap12">
      <soap12:address location="http://localhost:6512/BookService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>